# A nice name 
ENDPOINT_NAME my-fantastic-http-service-endpoint

# The url endpoint to which consumer will send events
ENDPOINT_URL https://my-fantastic-http-service-endpoint/events

# List of topics to listen
TOPICS my-topic-1,my-topic-2,my-topic-3

# Kafka config
KAFKA_BROKERS my-broker-1.kafka.com:9092,my-broker-2.kafka.com:9092
KAFKA_USERNAME kafka-username
KAFKA_PASSWORD kafka-password